<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
     body{
        background-image:url("https://img.freepik.com/photos-gratuite/vue-face-jeune-femme-seduisante-chemise-concue-fleurs-colorees-jupe-bleue-tenant-paquets-commerciaux-blanc_140725-18471.jpg?t=st=1714505626~exp=1714509226~hmac=45805557aa9b6ea63f9a76aa920100d9fb0b1242119c9148df27b290fd75411c&w=740");
        }
        .text{
            color:#053cc4;
            text-align:center;
            margin-top:70px;
            font-size:48px;
            font-weight:bold;
             letter-spacing:1px;
             margin-left:55px;
        }
        .navbar{
            display:grid;
            grid-template-columns:6fr 1fr;
            width:100%;
            background-color:#0fff;
            margin:auto;
            height:40px;
            align-items:center;
        }
        .nav{
            margin:10px 10px 0;
        }
        #aa{
            margin:5px 5px auto;
        }
        #btn1{
            background-color:green;
            color:white;
        }
    
    </style>
</head>
<body>
<div class="navbar">
<div class="nav">
<a id="aa" href="#home">Home</a>
<a id="aa" href="#product">Product</a>
<a id="aa" href="#contact">Contact</a>

</div>
<div class="btn">
<button id="btn1">Vistez Nous</button>
</div>
</div>
     <h1 class="text"><marquee>Sorry we are closed</marquee></h1>
</body>
</html>